{% extends 'core/base.html' %}
{% load tailwind_filters %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="flex justify-center">
    <div>
        <p>Enter your email below and we will send you instructions on how to reset your password</p>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <br>
            <button type="submit" class="btn bg-cyan-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Reset Password</button>
        </form>
        <br>
    </div>
</div>
{% endblock %}