{% extends 'core/base.html' %}
<!-- {% load tailwind_filters %} -->
{% block title %} Register {% endblock %}
{% block content %}
    <!-- <h1 class="text-xl content-center h-56 grid grid-cols-3 gap-4">Register!</h1> -->
    <p>{{ message }}</p>
    <div class="content-center">
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn bg-cyan-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Register</button>
            <!-- <input type="submit" name="Create User"> -->
        </form>
    </div>
{% endblock %}